
.ModalBackground {
    width: 100vw;
    height:100vh;
    background-color: rgba(200,200,200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    margin-block-start: 10vh;
    width: 50vw;
    height: 75vh; 
    border-radius: 30px;
    background-color: white;
}

.firstPart {
    display:block;
}

.createConferenceTitleBlock, .PresetLocationsTitleBlock {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.title1 {
    font-size: 4vh;
}

.TitleLabel, .ComiteeLabel {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.header1 {
    font-weight:normal;
    font-size: 3vh;
    color: black;
    margin:0vh;
    margin-right: 1vh;
  }

.title2 {
    font-size: 3vh;
}

.thirdPart {
    display:block;
}

.smallLineBox {
    display: flex;
    justify-content: center;
}

.smallLine {
    width: 40vw;
    height: 0.3vh;
    background: black;
}

.createConfButtons {
    display:flex;
    justify-content: space-around;
    margin-top: 1vh;
}