
#headerbar {
  /* Styling */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #009EDB;
  color: white;
  height: 8vh;
  /* Alignment */
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoback {
  padding: 0.5vh;
}

#flag {
  height: 8vh;
  width: auto;
  margin-right: 2vh;
}

#settings {
  font-size: 3em;
  margin-right: 2vh;
}

#un {
  height: 7vh;
}


#top {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #009EDB;
  margin: auto;
  margin-bottom: 1.5vh;
  border-radius: 30px;
  width: fit-content;
}

#body {
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #009EDB;
  border-radius: 30px;
  height: 75vh;
  width: 40vh;
}


#speakers {
  position: fixed;
  text-align: center;
  left: 5vh;
}

#whiteLine {
  height: .2vh;
  background-color: white;
  border-color: white;
}

#joinButton {
  position: absolute;
  bottom: 1vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content;
}

#button {
  padding-top: .2vh;
  padding-bottom: .2vh;
  padding-left: 2.5vh;
  border-radius: 30px;
  width: fit-content;
  transition: transform 0.3s ease;
  z-index: 9;
  position: relative;
}

.normalButton {
  padding-right: 2.5vh;
}

.wideButton {
  padding-right: 4vh;
}

#button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#buttonIcon {
  position: absolute;
  bottom: .1vh;
  padding-right: 1vh;
}

#toggleBack {
  background-color: black;
  padding-top: .5vh;
  padding-bottom: .5vh;
  padding-left: .5vh;
  padding-right: .5vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleText {
  color: black;
  padding-left: 2.4vh;
  padding-right: 2.4vh;
  padding-top: .4vh;
  padding-bottom: .4vh;
  background-color: white;
  border-radius: 30px;
}

#noMotion {
  padding-left: 30vh;
  padding-top: 20vh;
  color: gray;
}

.blackLine {
  background-color: black;
  border-color: black;
  width: 90%;
}

#middleLine {
  position: relative;
  top: 20vh;
}


.motionText {
  position: relative;
  text-align: center;
  padding: 1vh;
}

.votebox {
  position: relative;
  top: 20vh;
  text-align: center;
}

.box {
  display: inline-block;
  width: 5em;
  height: 5em;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  vertical-align: top;
  border: 3px solid black;
}

.voteOptions {
  display: inline-block;
  width: 5em;
  height: 5em;
  padding-left: 4.5vh;
  padding-right: 4.5vh;
}

.submitVote {
  position: relative;
  left: 75vh;
  bottom: 8vh;
}

.modalWindow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh; /* Use the full height of the viewport */
  padding: 2vh;
  width: 80vh;
  outline: none;
  border-radius: 30px;
  box-sizing: border-box;
}

.textBox {
  position: relative;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 120vh;
  left: 25vh;
  position: relative;
}

.button-wrapper {
  flex: 1;
  margin-top: 2vh;
}

.cancelButton {
  left: 0; /* Position at the left */
}

.sendButton {
  right: 0; /* Position at the right */
}


#groups {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 5vh;
  width: 45%;
  pointer-events: none;
}

#groupsTop {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #009EDB;
  margin-bottom: 1.5vh;
  border-radius: 30px;
  width: fit-content;
}

#groupsBody {
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #009EDB;
  border-radius: 30px;
  height: 75vh;
  width: 100%;
  pointer-events: auto;
}

.groupHolder {
  overflow-y: scroll;
  height: 95%;
  scrollbar-width: none;
}
.groupHolder::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

#workingGroupBack {
  position: relative;
  border-radius: 30px;
  padding: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1vh;
  padding-right: 10vh;
}

.workingGroupFlag {
  height: 4vh;
}

.smallFlag {
  height: 4vh;
  margin: 6px;
  transition: transform 0.3s ease;
}

.selectedFlag {
  height: 4vh;
  transition: transform 0.3s ease;
  border: solid 6px #009EDB
}

.smallFlag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.selectedFlag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.workingGroupButton {
  position: absolute;
  right: 1vh;
}

#groupHolder {
  position: fixed;
  left: 50%;
  top: 20%;
  width: 40%;
  border-radius: 30px;
  padding: 2vh;
}

#groupDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#extraDetails {
  position: absolute;
  bottom: 1vh;
}

.groupMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}
#errorPaper {
  height: 10vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.textInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vh;
  width: 40vh;
  justify-content: flex-end;
}

.flagList {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 100%;
  height: 30vh;
  scrollbar-width: none;
}

.flagList::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

.notifications {
  position: fixed;
  right: 1%;
  top: 11%;
  z-index: 2;
}

#notificationContent {
  position: fixed;
  right: 1%;
  top: 11%;
  z-index: 1;
  padding-top: 8vh;
  width: 32%;
  border-radius: 30px;
  max-height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
}

#notificationContent::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

#singleNotification {
  width: 90%;
  border-radius: 30px;
  padding: 8px;
  margin: auto;
  margin-bottom: 5px;
}

#unreadNotification {
  width: 90%;
  border-radius: 30px;
  padding: 8px;
  margin: auto;
  margin-bottom: 5px;
  border: solid 3px #cb0000;
}

#singleNotification1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#speakersListCountry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#singleNotificationMsg{
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 8px;
  background-color: #e6e6e6;
}

.emptyNotification {
  position: absolute;
  color: #989898;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.notifIcon {
  font-size: 56px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.notifIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* ------------------------------------ */
img#itemflag {
  height: 30px;
  width: 50px;
  border: solid 1px;
}
.countryname{
  margin:0;
}
.countryItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffff;
  border-radius: 34px;
  /* border: solid 1px; */
  padding: 5px 15px 5px 3px;
  margin: 5px 0px;
  min-width: 300px;
  max-width: 300px;
}

.countryItem.currentUser{
  background: #d6d6d6;
}
.country.in.queue {
  background: #ffff;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 80%;
}
.country.in.queue span{
  font-weight: bold;
}

.delrollcallPage{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
}

.DelRollCall{
  background: #ffffff;
  display: flex;
  justify-content: center;

  width: 45%;}

.title.roll {
  width: 80%;
  border-bottom: solid 1px;
  display: flex;
  justify-content: center;
}
span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-xvf5in-MuiTypography-root{
  color:black;
}