


#headerbar {
  /* Styling */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #009EDB;
  color: white;
  height: 90px;
  /* Alignment */
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoback {
  padding: 2px;
}

#flag {
  height: 90px;
  width: auto;
  /* border: 2px solid black; */
  margin-right: 10px;
}

#settings {
  font-size: 50px;
  margin-right: 10px;
}

#un {
  height: 80px;
}