


#headerbar {
  /* Styling */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #009EDB;
  color: white;
  height: 90px;
  /* Alignment */
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoback {
  padding: 2px;
}

#flag {
  height: 90px;
  width: auto;
  margin-right: 10px;
}

#settings {
  font-size: 50px;
  margin-right: 10px;
}

#un {
  height: 80px;
}


#top {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #009EDB;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 30px;
  width: 60%;
}

#body {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #009EDB;
  margin: auto;
  border-radius: 30px;
  height: 75vh;
  width: 35vh;
}


#speakers {
  position: fixed;
  text-align: center;
  left: 5vh;
}

hr {
  height: 2px;
  background-color: white;
}