
#oneConference {
    position:relative;
    border-radius: 30px;
    padding:1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-right: 10px;
    }

    #onePriorLocation, #oneMotion, #oneDeadline, #oneCountry {
        position:relative;
        border-radius: 30px;
        margin-top: 1px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
    }

    #oneCountry
     {
        position:relative;
        border-radius: 30px;
        margin: 5px;
        min-width: 240px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 6px;       
        background-color: white;
        height: 34px;
     }
    #presentationDeadline {
        position:relative;
        border-radius: 30px;
        margin-top: 4px;
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        padding: 6px;
    }

    #oneMotion{
        width: 90%;
        margin: 2px 0;
        width: 90%;
        margin: 2px 0;
        padding: 3px 21px;        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


   
    .motionContent{
        margin: 0 29px !important;
    }
    .statusButtons {
        display:flex;
        justify-content: space-around;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .timerBlock2ButtonsSession {
        display:flex;
    }
