#main {
  margin-top: 10vh;
  position: relative;
  width: '100%';
  height: '100%';
}

#toggleButton {
  position: fixed;
  top: 11vh;
  left: 50%;
  transform: translateX(-50%);
}

#motion {
  position: fixed;
  top: 25vh;
  left: 60vh;
  width: 90vh;
  height: 60vh;
  border-radius: 30px;
}

#bottomButton {
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
}

#rightButton {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
}

