.delrollcallPage{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
}

.DelRollCall{
    background: #ffffff;
    display: flex;
    justify-content: center;

    width: 45%;}

.title.roll {
    width: 80%;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
}
span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-xvf5in-MuiTypography-root{
    color:black;
}