body {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFEFEF;
  }
  
  .diasBar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #009EDB;
    color: white;
    height: 8px;
    padding: 1px;
  }

  .diasTabs{
    width: 185px;
    display: flex;
    justify-content: center;
  }

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #009edb;
    background-color: #009edb;
  }
  
  /* Style the buttons inside the tab */
  .tablinks {
    background-color: #009edb;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2.5px 5px;
    transition: 0.3s;
    font-size: 3px;
  }
  
  /* Change background color of buttons on hover */
  .tablinks:hover {
    background-color: #00DBD4;
  }
  
  /* Create an active/current tablink class */
  .tablinks:active {
    background-color: blue;
  }
  
  .tabcontent {
    display:none;
  }

  /* Style the tab content */
  .RollCall.tabcontent {
    display: flex;
    justify-content: center;
    padding: 3px 5px;
  }

  .statusButton {
      background-color: #00DBD4;
      border-radius: 30px;
  }

  .RollCallBlock, .NotesDiasBlock {
    display: flex;
    justify-content: center;
    margin-block-start: 11px;
  }

  .RollCallList, .NotesDiasList {
    width: 170px;
    height: 70px;
    display:block;
    background: white;
    border-style: solid;
    border-color: #009edb;
  }

  .searchBlock {
    height: 8px;
    display:flex;
    background: white;
    border-bottom-style: solid;
    border-bottom-color: #009edb;
    justify-content: center;
  }

  .searchBox {
    width: 160px;
    height: 5px;
    background: #E8E8E8;
    margin-top: 4px;
    border-color: #E8E8E8;
  }

  .titleBlock {
    height: 6px;
    display:flex;
    background: white;
    border-bottom-style: solid;
    border-bottom-color: #009edb;
    justify-content: center;
    
  }

  .titles {
        font-weight: lighter;
        display:flex;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 3px;
        margin-right: 3px;
        width: 40px;
        justify-content: center;   
  }

  .presentAbsentBlock {
    height: 40px;
    background: white;
  }

  .firstBlock {
    width: 170px;
    display:flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
  }

  .secondBlock {
    width: 170px;
    display:flex;
    justify-content: flex-start;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
  }

  .logos, .Formal.tabcontent, .SpeakerListButtonBlock, .currentlySpeakingAndControl, .controlTitleBlock, .BackInSessionBlock{
    display:flex;
    justify-content: center;
  }

  .FormalBlock, .InformalBlock {
    display:flex;
    margin-block-start: 11px;
  }

  .MotionsBlock, .SpeakerListBlock {
    display:block;
    margin-bottom: 2px;
  }

  .SpeakersListButton, .DeadlinesTitle, .WorkingGroupTitle, .LocationTitle {
    background: #009edb;
    color: white;
    border-radius: 30px;
    border-color: #009edb;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    height: 7px;
  } 

  .currentlySpeaking, .control {
    width: 60px;
    height: 75px;
    display:block;
    background: #009edb;
    border-radius: 30px;
    border-style: solid;
    border-color: #009edb;
    margin: 1.5px;
  }

  .SpeakerTimerBlock, .TimeBlock {
    display:flex;
    justify-content: center;
    margin-block-start: 1px;
  }

  .Timer {
    width: 50px;
    height:20px;
    background-color: white;
    border-radius: 30px;
  }

  .controlTitle {
    margin-block-start: 1px;
    color:white;
    font-size: medium;
  }

.BackInSessionTitle {
    margin-block-start: 1px;
    color:black;
    font-size: medium;
    font-weight: bold;
}

  .lineABlock,.controlInputBox, .addMotionBox, .addButtonBlock, .MotionsButtonBlock, 
  .DeadlinesTitleBlock, .addDeadlinesBox, .WorkingGroupTitleBlock, .LocationTitleBlock {
    display: flex;
    justify-content: center;
    margin-block-start: 1.5px;
  }

  .controlInput {
    height: 4px;
    min-width: 50px;
    max-width: 50px;
    background-color:lightgrey;
  }

  .lineA {
    min-width: 55px;
    max-width: 55px;
    height: 0.3px;
    background: black;
  }
  
  .clearAndCloseButtonBlock, .timerBlock2Buttons, .DeadlineButtons,.WorkingGroupButtons {
    display:flex;
    justify-content: space-evenly;
    margin-block-start: 1.5px;
  }

  .MotionsButton {
    background: #009edb;
    color: white;
    border-radius: 30px;
    border-color: #009edb;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    height: 7px;
  }

  .motionBlock {
    width: 78px;
    height: 43px;
    display:block;
    background: #009edb;
    border-radius: 30px;
    border-style: solid;
    border-color: #009edb;
    margin-left: 1px;
    margin-bottom: 1.5px;
  }

  .DeadlinesBlock {
    width: 60px;
    height: 35px;
    display:block;
    background: #009edb;
    border-radius: 30px;
    border-style: solid;
    border-color: #009edb;
    margin-block-start: 2px;
  }

  .WorkingGroupBlock2 {
    width: 75px;
    height: 68px;
    display:block;
    background: #009edb;
    border-radius: 30px;
    border-style: solid;
    border-color: #009edb;
    margin-block-start: 2px;
    margin-left:10px;
  }

  .LocationsBlock2 {
    width: 50px;
    height: 68px;
    display:block;
    background: #009edb;
    border-radius: 30px;
    border-style: solid;
    border-color: #009edb;
    margin-block-start: 2px;
    margin-left:2px;
    margin-bottom: 2px;
  }

  /* .MotionInput {
    height: 4px;
    min-width: 70px;
    max-width: 70px;
    background-color:lightgrey;
  } */
  .motionsAdded{
    overflow-y: scroll;
    height: 190px;
  }
  .motionsAdded::-webkit-scrollbar{
    display: none;
  }
  .abstainCheck .css-fxerky-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: red;
  }
  .DeadlineInput {
    height: 4px;
    min-width: 58px;
    max-width: 58px;
    background-color:lightgrey;
  }

  .lineB {
    min-width: 72px;
    max-width: 72px;
    height: 0.3px;
    background: black;
  }

  .lineC {
    min-width: 59px;
    max-width: 59px;
    height: 0.3px;
    background: black;
  }

  .MotionSummaryBlock {
    width: 78px;
    height: 30px;
    display:block;
    background: white;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    margin-left: 1px;
    margin-bottom:1.5px;
  }

  .timerBlock2 {
    width: 60px;
    height: 25px;
    display:block;
    background: white;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    margin-bottom:1.5px;
    margin-block-start: 2px;
  }

  .speakerTimerTitle {
    margin-block-start: 1px;
    color:black;
    font-size: medium;
  }

  .timerLogos, .DeadlinesAndTimerBlock, .WorkingGroupsBlock, .LocationsAndPresentationBlock {
    display: block;
  }

  .presentationButtonBlock {
    display: flex;
    justify-content: flex-end;
  }
  
   /* .diasSpkSrch li.countryItem button{
    display: none;
   } */

   img#itemflagSmol{
    height: 15px;
    width: 25px;
  }
  .diasspeakers #speakersListCountry{
    max-height: 16rem;
    overflow-y: scroll;
  }
  .diasspeakers #speakersListCountry::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
  }