#settings{
  display: none;
}
body {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFEFEF;
  }
  .HomePageDias{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .diasBar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #009EDB;
    color: white;
    height: 7em;
    padding: 1px;
  }

  .diasTabs{
    width: 80%;
    display: flex;
    /* justify-content: space-evenly; */
  }

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #009edb;
    background-color: #009edb;
  }
  
  /* Style the buttons inside the tab */
  .tablinks {
    background-color: #009edb;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2.5px 5px;
    transition: 0.3s;
    font-size: 20px;
    width: 10em;
  }
  
  /* Change background color of buttons on hover */
  .tablinks:hover {
    background-color: #00DBD4;
  }
  
  /* Create an active/current tablink class */
  .tablinks:active {
    background-color: blue;
  }
  
  .tabcontent {
    display:none;
    /* height: 100%; */
    /* margin-top: 127px; */
    top: 166px;
    position: absolute;
    width: 100%;
    }

  .statusButton{
    background: #00DBD4;
    border-radius: 30px;
    border: 1px solid black;
    height: 79px;
    top: 11%;
    position: absolute;
    right: 2%;
    width: 86px;
    font-size: 19px;
  }

  /* Style the tab content */    
  /* roll call page */
 

  .rollCallTable{
    width: 80%;
    margin-top: 5px;
    background: #ffff;
    border-radius: 30px;
  }  
  .searchBox{
    height: 30px;
    font-size: 20px;
    width: 60%;
  }
  .searchBlock{
    width: 80%;
    height: 40px;
    padding-top: 11px;
  }
  .RollCallList{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rollCallTable tr:nth-child(even){
    background: #ebebeb;
  }
  .rollCallTable td{
    padding:0;
    margin:0;
  }
  .titles{
    padding: 0;
    border-spacing: 0;
    font-size: 20px;
    text-decoration: underline;
  } 
  .RCcountryInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .countryFlagContainer {
    display: flex;
    align-items: center; 
  }

  .countryFlagRC {
    width: 20px; 
    height: auto; 
    margin-right: 5px; 
  }
  .buttonBlock1{    
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
  }
  .firstBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  .logos, .Formal.tabcontent, .SpeakerListButtonBlock, .currentlySpeakingAndControl, .controlTitleBlock, .BackInSessionBlock{
    display:flex;
    justify-content: center;
  }

  .FormalBlock, .InformalBlock {
    display: flex;
    margin-block-start: 11px;
    justify-content: space-evenly;
    height: 100%;
  }

  .inputForTime {
    display: flex;
    margin-block-start: 10px;
    justify-content: space;
    height: 25px;
  }

  .timeLabelMins {
    margin:2px;
    font-weight: light;
  }

#diasspeakers{
  overflow:hidden;
}
.MotionsBlock{
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
  .MotionsBlock, .SpeakerListBlock {
    display:block;
    margin-bottom: 2px;
    width: 42%;
  }

  .SpeakersListButton, .DeadlinesTitle, .WorkingGroupTitle, .LocationTitle, .MotionsButton {
    background: #009edb;
    color: white;
    border-radius: 30px;
    border-color: #009edb;
    width: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 2em;
  } 

  .currentlySpeaking, .control {    
    width: 100%;
    height: 38em;
    display: block;
    background: #009edb;
    border-radius: 30px;
    border-style: solid;
    border-color: #009edb;
    margin: 1.5px;
    padding-top: 18px;
  }

  .SpeakerTimerBlock, .TimeBlock {
    display:flex;
    justify-content: center;
    margin-block-start: 1px;
  }
  .TimeBlock{
    height: 6em;
    width: 100%;
  }

  .Timer, .timerBlock2{
    width: 100%;
    height: 8em;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
  #TimerPresentation{
    width: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
  }
.Timer span{
  font-size: 35px;
}
  .controlTitle {
    margin-block-start: 1px;
    color: white;
    font-size: 21px;
    font-weight: 500;
  }
  .controlTitle.last{
    margin-bottom: 1px;
  }

.BackInSessionTitle {
    margin-block-start: 1px;
    color:black;
    font-size: medium;
    font-weight: bold;
}
.addButtonBlock{
  margin-bottom: 10px;
}
  .controlInputBox, .addMotionBox, .addButtonBlock, .MotionsButtonBlock, 
  .DeadlinesTitleBlock, .addDeadlinesBox, .WorkingGroupTitleBlock, .LocationTitleBlock {
    display: flex;
    justify-content: center;
    margin-block-start: 1.5px;
  }
  .addMotionBox{
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  .MotionsButtonBlock{
    margin-bottom: 2px;
  }
  .MotionInput{
    width: 73%;
    height: 30px;
    font-size: 16px;
  }
  .controlInput {
    height: 35px;
    min-width: 90%;
    max-width: 50px;
    background-color: #fff;
  }

  .lineA {
    min-width: 55px;
    max-width: 55px;
    height: 0.3px;
    background: black;
  }
  
  .clearAndCloseButtonBlock, .DeadlineButtons,.WorkingGroupButtons {
    display:flex;
    justify-content: space-evenly;
    margin-block-start: 1.5px;
  }

  .timerBlock2Buttons {
    display:flex;
    justify-content: space-evenly;
    margin-block-start: 32px;
  }

  .DeadlineButtons{
    width: 80%;
  }
  .clearAndCloseButtonBlock{
    margin-bottom: 15em ;
  }
  .clearAndCloseButtonBlock #button{
    font-size: 10px;
  }
  .WorkingGroupButtons{
    margin-top: -36px;
  }

.WGpopup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

  .motionBlock {
    width: 72%;
    height: 23em;
    display:block;
    background: #009edb;
    border-radius: 30px;
    border-style: solid;
    border-color: #009edb;
    margin-left: 1px;
    margin-bottom: 1.5px;
  }
  .DeleteMotion, .DeleteSpeaker{
    height: 38px;
    color: red;
    background: none;
    border: none;
    font-size: 31px;
    font-weight: bold;
    float: right;    
  }

  .DeadlinesBlock {
    width: 100%;
    height: 26.81em;
    display:block;
    background: #009edb;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9px;
    margin-top: 4px;
  }
  .Deadlines{
    width: 85%;
    height: 66%;
    overflow-y: scroll;
  }
  .DeadlinesPresentation{
    width: 90%;
    height: 90%;
    overflow-y: scroll;
  }
  .Deadlines::-webkit-scrollbar {
    display: none;
  }
  .DeadlinesPresentation::-webkit-scrollbar {
    display: none;
  }

  .WorkingGroupBlock2 {
    width: 100%;
    height: 38em;
    display: block;
    background: #009edb;
    border-radius: 30px;
    margin-top: 5px;
  }
  .WorkingGroupsDatabase #groups{
    width: 100%;
    height: 36em;
    min-width: unset;
  } 
  .WorkingGroupsDatabase #joinButton{
    display: none;
  }
  .dialogWG .MuiPaper-root{
    width: 35em;
  }
  .groupName{
    font-size: 29px !important;
  }
  .WGbuttons{
   display: flex;
   flex-direction: row;
   justify-content: space-between !important;
  }


  .LocationsBlock2 {
    width: 100%;
    height: 38em;
    display: block;
    background: #009edb;
    border-radius: 30px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .motionsAdded{
    overflow-y: scroll;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .motionsAdded::-webkit-scrollbar{
    display: none;
  }
  .abstainCheck .css-fxerky-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: red;
  }
  .DeadlineInput {
    height: 60px;
    background: #fff;
    margin: 14px 0 0 0;
    border: none;
    width: 76%;
  }

  .lineB {
    min-width: 72px;
    max-width: 72px;
    height: 0.3px;
    background: black;
  }

  .lineC {
    min-width: 59px;
    max-width: 59px;
    height: 0.3px;
    background: black;
  }

  .MotionSummaryBlock {
    width: 60%;
    height: 12em;
    display: flex;
    background: white;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    margin: 8px 0 0 0;
    flex-direction: column;
    align-items: center;
  }
.motion.content{
  font-size: 20px;
}


  .speakerTimerTitle {
    margin-block-start: 1px;
    color:black;
    font-size: medium;
  }

  .timerLogos, .DeadlinesAndTimerBlock, .WorkingGroupsBlock, .LocationsAndPresentationBlock {
    display: block;
  }
  .DeadlinesAndTimerBlock, .WorkingGroupsBlock, .LocationsAndPresentationBlock{
    width: 30%;
  }
  .presentationButtonBlock {
    display: flex;
    justify-content: flex-end;
  }
  
   /* .diasSpkSrch li.countryItem button{
    display: none;
   } */

   img#itemflagSmol{
    height: 15px;
    width: 25px;
  }
  .diasspeakers #speakersListCountry{
    max-height: 16rem;
    overflow-y: scroll;
  }
  
  .diasspeakers #speakersListCountry::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
  }


  /* #NotesDias */
  .tabcontent#NotesDias{
    /* margin-top:10em; */
  } 
  .NotesDiasBlock{    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .NotesDiasBlock table{
    width: 60%;
    background: #fff;
    border: 2px solid #009EDB;
    margin-bottom: 2em;
  }
  .NotesDiasBlock td{
    border-bottom: 2px solid #009EDB;
  }
  .NotesDiasBlock tr:last-of-type td{
    border-bottom: none;
  }
  .NotesDiasBlock .firstTD{
    border-right: 2px solid #009EDB;

  }
  .NotesDiasBlock span{
    font-size: 20px;
    
  }
  .NotesDiasBlock .messageTD span{   
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .TDicons{
    text-align: end;
    min-width: 5em;
  }
  .messageTD{ 
    margin-left: 2px;
    text-overflow: ellipsis;
  } 
  .DMflagCont{

  }
  .countryFlagDM {
    height: 30px; 
    margin-right: 5px; 
  }