body {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFEFEF;
  }

  .fullPage {
    width: 1250px;
  }

  .bar {
    height: 40px;
    background: #009edb;
    margin-bottom: 15px;
  }

  .headerBar {
    display: flex;
    justify-content: center;
  }

  .myConference {
    font-size:  50px;
    font-weight:lighter;
    margin-top: 4px;
    margin-bottom: 15px;
  }

  .mainBox {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 500px;
    height: 350px;
    background: #009edb;
    display:flow;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color:#009edb;
    margin-top: 15px;
  }

  .line {
    height: 1px;
    background: black;
    margin-top: 310px;
  }

  .buttonBlock {
    display:flex;
    justify-content: center;
    margin: 10px;
  }

  .newButton {
    background: #FF9728;
    color: white;
    border-radius: 10px;
    border-color: #FF9728;
    width: 80px;
  }