body {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFEFEF;
  }

  .HomePageDias {
    width: 1250px;
  }
  
  .diasBar {
    display:flex;
    height: 40px;
    background: #009edb;
    margin-bottom: 25px;
  }

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #009edb;
    background-color: #009edb;
  }
  
  /* Style the buttons inside the tab */
  .tablinks {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  /* Change background color of buttons on hover */
  .tablinks:hover {
    background-color: #00DBD4;
  }
  
  /* Create an active/current tablink class */
  .tablinks:active {
    background-color: #00DBD4;
  }
  
  /* Style the tab content */
  .RollCall.tabcontent {
    display: flex;
    justify-content: center;
    padding: 6px 12px;
  }

  .RollCallBlock {
    display: flex;
    justify-content: center;
  }

  .RollCallList {
    width: 1000px;
    height: 425px;
    display:block;
    background: #EFEFEF;
    border-style: solid;
    border-color: #009edb;
  }

  .searchBlock {
    height: 50px;
    display:flex;
    background: #EFEFEF;
    border-bottom-style: solid;
    border-bottom-color: #009edb;
    justify-content: center;
  }

  .searchBox {
    width: 944px;
    height:32px;
    background: #E8E8E8;
    margin-top: 4px;
    border-color: #E8E8E8;
  }

  .titleBlock {
    height: 30px;
    display:flex;
    background: #EFEFEF;
    border-bottom-style: solid;
    border-bottom-color: #009edb;
    justify-content: center;
    
  }

  .titles {
        font-weight: lighter;
        display:flex;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 10px;
        margin-right: 10px;
        width: 250px;
        justify-content: center;
        
  }

  .presentAbsentBlock {
    height: 295px;
    display:flex;
    background: #EFEFEF;
    justify-content: space-evenly;
  }

  .firstBlock {
    width: 1000px;
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 125px;
    margin-left: 125px;
  }

  .startRollCallButton {
  background: #FF9728;
    color: white;
    border-radius: 5px;
    border-color: #FF9728;
    width: 100px;
    height: 35px;
  }

  .exportButton {
    background: #00DB89;
    color: white;
    border-radius: 5px;
    border-color: #00DB89;
    width: 75px;
    height: 35px;
  }

  .secondBlock {
    width: 1000px;
    display:flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 125px;
    margin-left: 125px;
  }

  .resetButton {
        background: #FF9728;
        color: white;
        border-radius: 5px;
        border-color: #FF9728;
        width: 65px;
        height: 25px;
  }

  .Formal.tabcontent {
    display:flex;
    justify-content: center;
  }

  .FormalBlock {
    display:flex;
  }

  .SpeakerListBlock {
    display:block;
    width: 690px;
    margin-bottom: 5px;
  }

  .SpeakerListButtonBlock {
    display: flex;
    justify-content: center;
  }

  .SpeakersListButton {
    background: #009edb;
    color: white;
    border-radius: 7px;
    border-color: #009edb;
    width: 150px;
    font-size: medium;
    height: 35px;
  }

  .currentlySpeakingAndCurrent {
    display:flex;
    justify-content: center;
  }
  
  .currentlySpeaking, .current {
    width: 345px;
    height: 450px;
    display:block;
    background: #009edb;
    border-radius: 5px;
    border-style: solid;
    border-color: #009edb;
    margin: 10px;
  }

  .MotionsBlock {
      display:block;
      width: 560px;
      margin-bottom: 5px;
  }

  .MotionsButtonBlock {
      display:flex;
      justify-content: center;
      margin-bottom: 9px;
  }

  .MotionsButton {
    background: #009edb;
    color: white;
    border-radius: 7px;
    border-color: #009edb;
    width: 150px;
    font-size: medium;
    height: 35px;

  }

  .timerBlock {
    width: 500px;
    height: 225px;
    display:block;
    background: #009edb;
    border-radius: 5px;
    border-style: solid;
    border-color: #009edb;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .timerBlock2 {
    width: 480px;
    height: 200px;
    display:block;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-left: 25px;
    margin-bottom: 5px;
  }

  .presentationButtonBlock {
    display: flex;
    justify-content: flex-end;
  }

  .presentationButton {
    background: #00DB89;
    color: white;
    border-radius: 7px;
    border-color: #00DB89;
    width: 110px;
    font-size: medium;
    height: 25px;
  }