body {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFEFEF;
  }
.fullPage{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .myConference {
    font-size: 54px;
    font-weight: lighter;
    position: absolute;
    margin: 0 0 0 0;
  }

  .mainBox {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .confContainer {
    background: #009edb;
    border-radius: 30px;
    top: 15em;
    position: absolute;
    height: 28em;
    width: 50em;
    padding: 21px 33px;
  }
  .confContainer p{
    width: 16%;
  }

  .buttonBlock {
    display: flex;
    bottom: 19px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width:90%;
    border-top: 1px solid black;
  }

  .firstPart{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 500px;
    padding-bottom: 13px;
  }
.ULabel{
  display: flex;
  flex-direction: row;
  margin: 3px 0;
}
  #diasspeakers .queuebox{    
    overflow-y: scroll;
    height: 445px;
    padding-bottom: 4px;
  }
  #diasspeakers .queuebox{
    justify-content: space-between;
  }
  #diasspeakers .queuebox::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
  }

  .initialBtnBox{
    bottom: -7em;
    z-index: 10;
    position: relative;
  }
  .locationBox,.secondPart{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .locationBoxBlock{
    background: #009edb;
    border-radius: 30px;
    min-width: 80%;
    min-height: 24em;
  }
  .locationInputBox{
    margin: 11px 0;
    width: 90%;
    display: flex;
    justify-content: center;  
  }

  .createConfButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #onePriorLocation{
    width: 95%;
    margin: 2px 0;
  }
  .createConfDialog {
    min-width: 17em;
  }
  .presetLoc{
    font-size: 23px !important;
  }
  .createConfDialog span{
  }
  .createConfDialog .ULabel span{
    font-size: 20px;
    width: 94px;
    text-align: right;
    margin-right: 8px;
  }
  .createConfDialog  input{
    font-size: 20px;
    width: 220px;
  }

   h2.creatdialogtitle {
    font-size: 20px;
    text-align: center;
  }
  .addButtonBox{
    width: 90%;    
    border-bottom: 3px solid black;
    display: flex;
    margin-bottom: 22px;
    padding-bottom: 13px;
    flex-direction: column;
    align-items: center;
  }