body {
  display:flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #EFEFEF;
}

.all {
  width: 1250px;
}
.bar {
  height: 40px;
  width: auto;
  background: #009edb;
  margin-bottom: 15px;
}

.top {
  display: flexbox;
}

.logo {
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.topnav {
  background-color:#009edb;

}
h2 {
  display: flex;
  justify-content: center;
  font-size:  62px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 5px;
}

.logins {
  display: flex;
  justify-content: center;
}

.container1, .container2 {
    width: 350px;
    height: 210px;
    background: #009edb;
    color: black;
    display:flow;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color:#009edb;
    border-radius: 10px;
    margin: 20px;
  }

  .usernameLabel, .passwordLabel {
    display:flex;
    justify-content:space-evenly;
    margin-bottom: 15px;
  }

  .sessionLabel, .countryLabel {
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 15px;

  }
h1 {
    display:flex;
    font-size:larger;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 45px;
}


.header6, label {
  font-weight: bold;
  font-size: smaller;
  color: white;
  margin: 0px;
}

.diasButtons {
  margin: 7px;
  display:flex;
  justify-content: space-between;
  
}

.submitButton {
  display: flex;
  margin: 7px;
  justify-content: flex-end;
}

button {
  background: #FF9728;
  color: white;
  border-radius: 10px;
  border-color: #FF9728;
  width: 80px;
}

.register {
  background: #00DB89;
  color: white;
  border-radius: 10px;
  border-color: #00DB89;
  width: 90px;
}

.heading {
  margin-top: 5px;
  display:flex;
  align-items: stretch;
  justify-content: center;
}
