body {
  display:flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #EFEFEF;
}

.all {
  width: 100%;
}

.logo {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  justify-content: center;
  z-index: -1;
}

.topnav {
  background-color:#009edb;

}
.top{
  height: 17em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.welcomeHeader1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size:  9px;
  font-weight: 400;
  margin-block-start: 27px;
  margin-block-end: 01px;
}
.welcomeHeader1 img{
  border: none;
}
.input-box
{

}
.usernameLabel input,
.passwordLabel input, 
.usernameLabel select{
  font-size: 20px;
  height: 100%;
  padding: 6px 5px 5px 9px;
}

.usernameLabel, 
.passwordLabel
{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  display: flex;
  margin: 6px 0;

}

.logins {
  display: flex;
  justify-content: space-evenly;
}

.homecontainer {
  width: 35%;
  background: #009edb;
  color: black;
  border-style: solid;
  border-color: #009edb;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 20px;
  }

  .diasAndDelegateHeader {
    color: #ffff;
    margin: 0 21px 0 0;
}

.header6 {
  font-weight: bold;
  font-size: 23px;
  color: white;
  margin:0px;
  width: 120px;
}

.header{
  position: relative;
  margin-bottom: 115px;
}
.diasButtons {
  display: flex;
  justify-content: space-between;
  width: 86%;
}

.submitButton {
  display: flex;
  margin: 2px;
  justify-content: flex-end;
}

.heading {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

