.presentationTop {
  margin-top: 28px;
  width: 102%;
}
.presentationTop #headerbar{
  width: 100.7%;
  height: 3em;
}

.presentationBody {
  display: flex;
  /* gap: 75px; */
  justify-content: space-evenly
}
.formalbox {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 24em;
}
.formalbox #oneMotion{
  max-width: 17em;
  min-width: 17em;
}

#presentationPaper {
  background: #009EDB;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.presentationCountry {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 0;
  align-items: center;
}
.presentationCountry h1{
text-align: center;
}
#presentationFlag {
  width: 350px;
}

#confID {
  position: absolute; /* no fixed. lol it doesn't work */
  bottom: -32px;
  text-align: center
}

#presentationMotionsBox {
 background: #009EDB;
  padding: 10px 0 10px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 25em;
    /* max-width: 30%; */
  height: 37.5em;
}
#presentationMotions{ 
  
   overflow-y: scroll;
  scrollbar-width: none;
}

#presentationMotions::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

#intructions {
  margin-top: 100px;
  justify-content: center;
  display: flex;
  text-align: center;
}

#instructionPaper {
  background: #009EDB;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 200px;
  max-width: 70em;
}

.motionBox {
  display: flex;
  justify-content: space-evenly;
}

/* .countryVotes, .motionAndPieBox {
  display: block;
  margin: 10px;
} */
.countryVotes, .motionAndPieBox {
 
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.VCMButtonBlock {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

.VCMButton {
  background: #009edb;
    color: white;
    border-radius: 30px;
    border-color: #009edb;
    width: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 2em;
}
.countryVotesBlock #oneCountry{
  max-width: 240px;
}

.countryVotesBlock {
  background: #009edb;
  border-radius: 30px;
  border-color: #009edb;
  height: 30em;
  padding: 7px 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  max-height: 30em;
  overflow-y: auto;
  row-gap: 9px;
  column-gap: 0px;
  
}
.countryVotesBlock::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.currentMotionWhiteBlock {
  background: white;
  color: black;
  border-radius: 30px;
  border-color: white;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  /* height: 6em; */
  margin-bottom: 10px;
  min-height: 6em;
  padding: 6px 25px;
}
