
.regContainer {
  position: relative;
  width: 34em;
  background: #009edb;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-color: #009edb;
  border-radius: 10px;
  top: 11em;
  padding: 0 0 51px 0;
  }

.inputRegister {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
  margin-top: 5%;
}

.inputBoxRegister {
  display: flex;
  width: 50%;
  height: 32px;
  margin-top: 1%;
  font-size: 20px;
}

.regHeader1 {
    display:flex;
    font-size:3em;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.regHeader6 {
  display:flex;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin: 0px;
}


#buttonRegister {
  position: relative;
  display: flex;
  bottom: 0%;
  margin: auto;
  margin-top: 15px;

}