.waitingbox{
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li.presentCountries{
    float: none;
}
ul{
    background-color: transparent;
}
.waitingList{
    column-count: 3;
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly; */
}
.btncont{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 10px;
}
.waitingScreen {
    width: 100%;
}