.waitingbox{
        /* margin-top: 8em; */
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        position: absolute;
        top: 10em;
        align-content: center;
        left: 0px;
        right: 0;
}
li.presentCountries{
    float: none;
}
ul{
    background-color: transparent;
}
.waitingList{
    column-count: 3;
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly; */
}
.btncont{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 10px;
}
.waitingScreen {
    width: 100%;
}